@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Techincian"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Technician" asp-page="Index">Home</a>
        </li>
    }
</ul>