@inject SignInManager<ApplicationUser> SignInManager


@if (SignInManager.IsSignedIn(User) && User.IsInRole("General Practitioner"))
{
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="GeneralPractitioner" asp-page="/Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="GeneralPractitioner" asp-page="/RequestPrescription">Request Prescription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="GeneralPractitioner" asp-page="/CancelPrescription">Cancel Prescription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="GeneralPractitioner" asp-page="/ScheduleBloodwork">Schedule Bloodwork</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="GeneralPractitioner" asp-page="/EnterTestResults">Enter Test Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="GeneralPractitioner" asp-page="/PatientSearch">Patient Search</a>
            </li>
        </ul>
    </div>
}