@page
@model AADWebApp.Areas.GeneralPractitioner.Pages.CancelPrescriptionModel
@{
    ViewData["Title"] = "Cancel Prescription";
    Layout = "~/Areas/GeneralPractitioner/Pages/_GeneralPractitionerLayout.cshtml";
}

<h1>Cancel Prescription</h1>