@page
@model AADWebApp.Areas.GeneralPractitioner.Pages.CancelPrescriptionModel
@{
    ViewData["Title"] = "Cancel Prescription";
    Layout = "~/Areas/GeneralPractitioner/Pages/_GeneralPractitionerLayout.cshtml";
}

<h1 class="mb-5">Cancel Prescription</h1>

<h3 class="mb-5">Search</h3>
<div id=" Search" class="form-group form-inline mb-5">
    <form class="form-inline">
        <div class="form-group">
            <label class=" control-label ml-3"><b>ID</b></label>
            <input type="text" class="form-control ml-5 " placeholder="ID" />
        </div>
        <div class="form-group">
            <label class=" control-label ml-3"><b>First Name</b></label>
            <input type="text" class="form-control ml-5 " placeholder="First Name" />
        </div>
        <div class="form-group">
            <label class=" control-label ml-3 "><b>Last Name</b></label>
            <input type="text" class="form-control ml-5 " placeholder="Last Name" />
        </div>


        <button class="input-group-addon btn btn-primary float-right ml-5">Search</button>
    </form>


</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Patient ID</th>
            <th scope="col"> First Name</th>
            <th scope="col"> Last Name</th>
            <th scope="col">Medication ID</th>
            <th scope="col">Medication Name</th>
            <th scope="col">Medication Start</th>
            <th scope="col">Medication End</th>
            <th scope="col">Cancel</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 8; i++)
        {
            <tr>
                <th scope="row">@(i+1)</th>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>
                    <div id="DateStart">
                        <input type="date" class="form-control-sm" name="Medication Start" id="Medication Start" />
                    </div>
                </td>
                <td>
                    <div id="DateEnd">
                        <input type="date" class="form-control-sm" name="Medication End" id="Medication End" />
                    </div>
                </td>
                <td>
                    <div id="CheckBox" class="form-check">
                        <input type="checkbox" name="Status" value="Cancel" class="form-check-input" id="Cancel@(i+1)" />
                        <label for="Cancel@(i+1)">
                            Cancel
                        </label>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary float-right">Confirm</button>
