@page
@model AADWebApp.Areas.GeneralPractitioner.Pages.ChoosePatient
@{
    ViewData["Title"] = "Choose Patient";
    Layout = "~/Areas/GeneralPractitioner/Pages/_GeneralPractitionerLayout.cshtml";
}

<h1 class="mb-5">Patient Search</h1>
