@page
@model AADWebApp.Areas.GeneralPractitioner.Pages.EnterTestResultsModel
@{
    ViewData["Title"] = "Enter Test Results";
    Layout = "~/Areas/GeneralPractitioner/Pages/_GeneralPractitionerLayout.cshtml";
}

<h1 class="mb-5">Enter Test Results</h1>
