@page
@model AADWebApp.Areas.GeneralPractitioner.Pages.IndexModel
@{
    ViewData["Title"] = "General Practitioner Home";
    Layout = "~/Areas/GeneralPractitioner/Pages/_GeneralPractitionerLayout.cshtml";
}

<h1>General Practitioner Home</h1>