@page
@model AADWebApp.Areas.GeneralPractitioner.Pages.RequestPrescriptionModel
@{
    ViewData["Title"] = "Request Prescription";
    Layout = "~/Areas/GeneralPractitioner/Pages/_GeneralPractitionerLayout.cshtml";
}

<h1>Request Prescription</h1>