@page
@model AADWebApp.Areas.GeneralPractitioner.Pages.ScheduleBloodworkModel
@{
    ViewData["Title"] = "Schedule Bloodwork";
    Layout = "~/Areas/GeneralPractitioner/Pages/_GeneralPractitionerLayout.cshtml";
}

<h1>Schedule Bloodwork</h1>