@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center pt-300">
    <h1 class="display-4">Welcome to prescription management by Cloud Crusaders!</h1>
    <h3 class="display-6">Click Login or Register to begin</h3>
</div>