@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Pharmacist"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Pharmacist" asp-page="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Pharmacist" asp-page="RequestBloodwork">Request Bloodwork</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Pharmacist" asp-page="ReviewPrescriptions">Review Prescriptions</a>
        </li>
    }
</ul>