@page
@model AADWebApp.Areas.Pharmacist.Pages.RequestBloodworkModel
@{
    ViewData["Title"] = "Request Bloodwork";
    Layout = "~/Areas/Pharmacist/Pages/_PharmacistLayout.cshtml";
}

<h1>Request Bloodwork</h1>