@page
@model AADWebApp.Areas.Pharmacist.Pages.ReviewPrescriptionsModel
@{
    ViewData["Title"] = "Review Prescriptions";
    Layout = "~/Areas/Pharmacist/Pages/_PharmacistLayout.cshtml";
}

<h1>Review Prescriptions</h1>