@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Patient") || User.IsInRole("Authorised Carer")))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Patient" asp-page="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Patient" asp-page="ScheduleCollection">Schedule Collection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Patient" asp-page="SetCommPreference">Communication Preferences</a>
        </li>
    }
</ul>