@page
@model AADWebApp.Areas.Patient.Pages.ScheduleCollectionModel
@{
    ViewData["Title"] = "Schedule Collection";
    Layout = "~/Areas/Patient/Pages/_PatientLayout.cshtml";
}

<h1>Schedule Collection</h1>