@page
@model AADWebApp.Areas.Patient.Pages.SetCommPreferenceModel
@{
    ViewData["Title"] = "Communication Preferences";
    Layout = "~/Areas/Patient/Pages/_PatientLayout.cshtml";
}

<h1>Set Communication Preferences</h1>